<%= form_for @junction do |f| %>
  <% if @junction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@junction.errors.count, "error") %> prohibited
      this junction from being saved:</h2>
    <ul>
    <% @junction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :lights %><br>
    <%= f.text_field :lights %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>