<head>

	<style>

		table {
			border-collapse: collapse;
		}
		table, td, th  {
			border: 1px black;
			text-align: center;
			background-color: white;
			color: white;
			padding: 5px;
				}

		.grey_circle {
			width: 50px;
			height: 50px;
			background: lightgrey;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
		}

		.red_circle {
			width: 50px;
			height: 50px;
			background: red;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
		}

		.orange_circle {
			width: 50px;
			height: 50px;
			background: orange;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
		}

		.green_circle {
			width: 50px;
			height: 50px;
			background: green;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
		}

		}

		.set {
			outline-style: solid;
			outline-color: black;
			border-style: solid;
			border-color: black;
		}

		.light {
			background-color: black;
			padding: 10px;
		}

	</style>

	<script>

	// Tells Rails to run junction.cycle! using cycle = 1
	function lightCycle() {
		$.ajax({
			type: 'PUT',
			url: '/junctions/<%= @junction.id %>',
			 data: {junction: {cycle: '1'}},
		     
		});
	}

	</script>

</head>

<body>
<p>
	<strong>Title:</strong>
	<%= @junction.title %><br>
</p>

<table>
	<tr>
		<td></td>
		<td>
			<table class='set'>
				<% ['Red', 'Orange', 'Green'].each do |hue| %> 
				<tr>
					<td class='light'>
						<div class="<%= @junction.light_up(1, hue) %>"></div>
					</td>
				</tr>
				<% end %>
			</table>
		</td>
		<td></td>
	</tr>
	<tr>
		<td><% if @junction.lights > 2 %>
			<table class='set'>
				<% ['Red', 'Orange', 'Green'].each do |hue| %> 
				<tr>
					<td class='light'>
						<div class="<%= @junction.light_up(0, hue) %>"></div>
					</td>
				</tr>
				<% end %>
			</table>
			<% end %></td>
		<td>*</td>
		<td><% if @junction.lights > 2 %>
			<table class='set'>
				<% ['Red', 'Orange', 'Green'].each do |hue| %> 
				<tr>
					<td class='light'>
						<div class="<%= @junction.light_up(2, hue) %>"></div>
					</td>
				</tr>
				<% end %>
			</table>
		<% end %></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<% case true %>
			<% when @junction.lights == 2 %>
				<table class='set'>
				<% ['Red', 'Orange', 'Green'].each do |hue| %> 
				<tr>
					<td class='light'>
						<div class="<%= @junction.light_up(0, hue) %>"></div>
					</td>
				</tr>
				<% end %>
			</table>
			<% when @junction.lights == 4 %>
				<table class='set'>
				<% ['Red', 'Orange', 'Green'].each do |hue| %> 
				<tr>
					<td class='light'>
						<div class="<%= @junction.light_up(3, hue) %>"></div>
					</td>
				</tr>
				<% end %>
			</table>
			<% end %>
		</td>
		<td></td>
	</tr>
</table>
<br>
<button onclick = "lightCycle(); return false;" > Cycle </button>
<br>
<br>
<%= link_to 'Back', junctions_path %>
</body>