<p>
	<strong>Title:</strong>
	<%= @junction.title %>
</p>

<table>
	<tr>
		<td></td>
		<td><%= image_tag(@junction.pic(1)) %></td>
		<td></td>
	</tr>
	<tr>
		<td><%= image_tag(@junction.pic(0)) if @junction.lights > 2 %></td>
		<td></td>
		<td><%= image_tag(@junction.pic(2)) if @junction.lights > 2 %></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<% case true %>
			<% when @junction.lights == 2 %>
				<%= image_tag(@junction.pic(0)) %>
			<% when @junction.lights == 4 %>
				<%= image_tag(@junction.pic(3)) %>
			<% end %>
		</td>
		<td></td>
	</tr>
</table>
<br>

<%= button_to 'Change', {id: @junction.id, junction: {cycle: '1'}}, {method: :put} %>
<br>
<br>
<%= link_to 'Back', junctions_path %>

